body {
  margin: 0 auto;
  font-family: "Telex", sans-serif;
  font-size: 18px;
  width: 818px;
  background-color: #D8F0DC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
